 #container > p , .matric-input{
  text-align: center;
  font-weight: bolder;
}

html, body , #container , #root{
  height: 100%;
  width: 100%;
  background-color: #464646;
}

.matric-input > form{
  background-color: #ddd9d6;
  padding: 10em;
}
.matric-input > form > input{
  font-size: 1.5em;
  text-align: center;
  border-radius: .25em;
  background-color: #d1e2f2;
  width: 100%;
}
.matric-input > form > button{
  background-color: #01d17c;
  margin-top: 1em;
  padding: .25em 2em .25em 2em;
  border-radius: .25em;
}



 a:link {
  color: #d1e2f2;
}


a:visited {
  color: #ff6264;
}


a:hover {
  color: #01d17c;
}

a:active {
  color: blue;
} 

.ical-dl{
  background-color: #4365e2;
  border: 1px solid #4365e2;
  border-radius: .25em;
  padding:1em;
}
.rbc-calendar{
  margin-top: 1.5em;
}
#container{
  display: inline-block;
  align-items: center;
}